@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&family=Comfortaa:wght@700&display=swap");

:root {
  --primary-color: #0099ff;
  --secondary-color: #0066cc;
  --font-primary-color: #231f20;
  --font-secondary-color: #f1f2f2;
}

body {
  background: var(--primary-color);
  margin: 0;
}

.WebPlayer {
  display: flex;
  place-content: center;
}
