@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&family=Comfortaa:wght@700&display=swap");

:root {
  --link-color: #F8C854;
  --other: #661B71;
  --transparent: rgba(0, 0, 0, 0);
}

*{
  /*box-sizing: border-box;*/
}

a > *{
  color: var(--link-color);
}

body{
  height: 100vh;
  margin: 0px;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

body > button{
  height: 100%;
  width: 5%;
  min-width: 30px;
  cursor: pointer;
  position: absolute;
  z-index: 1;

  border: none;
  background-color: transparent;

  transition: all 200ms ease;
}

#article-nav-left:hover{
  transform: scale(1.25) translateX(-1px);
}

#article-nav-right:hover{
  transform: scale(1.25) translateX(1px);
}

main{
  width: 100%;
  height: calc(100% - 70px);
  position: relative;

  overflow: hidden;
}

main > article{
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;

  transition: transform 400ms ease;
}

main > article[data-status="inactive"]{
  transform: translateX(100%);
  transition: none;
}

main > article[data-status="becoming-active-from-before"]{
  transform: translateX(200%);
  transition: none;
}

main > article[data-status="becoming-active-from-after"]{
  transform: translateX(-200%);
  transition: none;
}

main > article[data-status="before"]{
  transform: translateX(-100%);
}

main > article[data-status="after"]{
  transform: translateX(100%);
}

.article-section{
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow-y: auto;
  overflow-x: hidden;
}

#article-nav-left{
  left: 0;
}

#article-nav-right{
  right: 0;
}

#article-img-section{
  width: 52.5%;
}

#article-img-section > img{
  width: 100%;
}

#article-content-section{
  width: 32.5%;

  overflow-y: auto;
}

#article-content-section > .content-section{
  padding: 0em 1em;
}

#article-content-section > #content-accomplishments{
  font-weight: bold;
}

#article-content-section > #content-links{
  display: flex;
  flex-direction: row;
}

#article-content-section > #content-links a{
  font-size: xx-large;
  padding: 0.5em;
  color: inherit;
}

/*
// NAV BAR
*/

nav{
  width: 100%;
  bottom: 1vh;
  position: absolute;
  z-index: 2;

  display: flex;
  justify-content: center;

  overflow-y: hidden;
  overflow-x: auto;
}

nav > .nav-item{
  height: 64px;
  width: 64px;
  padding: 0.5em;

  display: flex;
  flex-shrink: 0;

  background-color: var(--transparent);
  border: none;
  text-decoration: none;
  cursor: pointer;
  
  transition: all 200ms;
  filter: grayscale(1);
}

nav > .nav-item:hover{
  margin: 0em 1em;
  transform: scale(1.25);
  filter: grayscale(0);
}

nav > .nav-item[data-status="active"]{
  margin: 0em 1em;
  transform: scale(1.25);
  filter: grayscale(0);
}

nav > .nav-item > img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

nav::-webkit-scrollbar{
  width: 8px;
  height: 5px;
  background-color: var(--transparent);
}
nav::-webkit-scrollbar-thumb{
  background-color: var(--transparent-dark);
}


@media only screen and (max-width: 768px) {

  main{
    overflow-y: auto;
  }

  main::-webkit-scrollbar{
    display: none;
  }

  main > article{
    height: fit-content;

    flex-direction: column;
    align-items: center;
  }

  #article-img-section{
    width: 90%;

    padding: 0em;
  }
  
  #article-content-section{
    width: 90%;
    overflow: hidden;
  }
}