@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&family=Comfortaa:wght@700&display=swap");

:root {
  --primary-base: #743282;
  --primary-dark: #441C55;
  --primary-light: #B668A1;
  --secondary-base: #FFDF00;
  --secondary-dark: #DC9200;
  --secondary-light: #ffe54c;
  --font-primary: #000000;
  --font-secondary: #ffffff;
  --transparent-dark: rgba(0, 0, 0, .6);
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb{
  background: rgba(0, 0, 0, .25);
}

*{
  scroll-behavior: smooth;
  scrollbar-width: 0;
  scroll-margin: 3.41em;
  margin: 0;
}

body {
  font-family: "Baloo 2";
  background: var(--primary-base);
  color: var(--font-secondary);
  padding: 0;
  margin: 0;
  overflow: overlay;
  overflow-x: hidden;
}

.background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  top: 0;
  z-index: -1;
}

.nav-bar {
  display: flex;
  place-content: center;
  justify-content: center;
  width: 100%;
  height: 3.5em;
  position: fixed;
  top: 0;
  background-color: var(--transparent-dark);
}

.nav-list {
  list-style: none;
  display: flex;
  place-content: space-between;
  align-items: center;
  line-height: 110%;
  margin: 0.5em 0;
  padding: 0;
}

.nav-list a {
  color: var(--font-color);
  font-size: 18px;
  padding: 0.1em 1em;
  text-decoration: none;
  display: flex;
}

.external-icon{
  font-size: 1px;
}

.name{
  font-weight: bolder;
  text-align: left;
}

.call-to-action {
  font-size: 24px;
  text-align: center;
  margin: 250px 0;
}

.about-me{
  background-color: var(--secondary-dark);
  padding: 1.5em;
  text-align: justify;
}

.about-me h1{
  text-align: center;
}

.about-me p{
  padding: 0 25%;
}

.separator {
  background: var(--primary-dark);
  text-align: center;
  scroll-behavior: smooth;
}

.separator p {
  padding: 0px 0px 10px 0px;
  margin: -5px 0 0 0;
}


.project-panel {
  text-align: center;
  background: var(--primary-base);
  padding: 2em;
  margin: 0;
}

.project-panel h1 {
  margin: 0;
}

.project-grid {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  place-content: center;
  padding: 0;
}

.project-item {
  background: var(--primary-dark);
  min-width: 15em;
  max-width: 25em;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0.25em 1em;
  border-radius: 1em;
  margin: 1em;
}

.project-item h2 {
  margin: 0.25em;
}

.project-item img {
  object-fit: cover;
  width: 100%;
}

.project-item a {
  display: inline-flex;
  place-content: center;
  margin: 0.25em;
}

.project-item p {
  margin: 0.25em;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  place-content: space-between;
  justify-content: center;
  padding: 0.25em;
}

.tag-list li {
  background: var(--secondary-base);
  color: var(--font-primary);
  list-style: none;
  text-align: center;
  padding: 0.05em 0.5em;
  margin: 0 0.25em;
  height: fit-content;
  width: fit-content;
  white-space: nowrap;
  border-radius: 100em;
}

/*
**  GAME PAGES
*/

.nav-spacing{
  margin-top: 5em;
}

.info{
  background-color: var(--transparent-dark);
  margin: auto;
  padding: 2em 2em 4em 2em;
  max-width: 620px;
  min-width: 250px;
  border-radius: 10px;
}

.background-image{
  position: fixed;
  z-index: -1;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 120%;
}

.nav-button{
  font-family: 'Baloo';
  border: none;
  border-radius: 10px;
  margin: 1em;
  padding: 0.25em 0.5em;
  text-align: center;
  background-color: var(--primary-dark);
  width: fit-content;
}

.nav-button h3{
  font-weight: normal;
}

.nav-button p{
  font-size: 30px;
  margin: -12px;
}

.nav-button a{
  text-decoration: none;
  color: var(--font-secondary);
}

.title{
  text-align: center;
}

.categories{
  display: flex;
  text-align: left;
  justify-content: center;
  margin: 1em 0;
}

.categories p{
  margin: 0 10px;
}

.description a{
  text-decoration: none;
  color: var(--secondary-base);
}

.gameplay-video{
  display: block;
  margin: 0 auto;
  padding: 1.5em 0;
  width: 90%;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  font-family: "Baloo 2";
  background-color: var(--primary-base);
  color: var(--font-secondary);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  margin: 1em 0 0 0;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.3s;
}


/* Style the accordion panel. Note: hidden by default */
.accordion-panel {
  padding: 0 18px;
  background-color: var(--primary-dark);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion-panel img{
  display: block;
  margin: 1.5em auto;
  width: 90%;
}

.accordion:after {
  content: '\002b'; /* Unicode character for "plus" sign (+) */
  font-size: 20px;
  color: var(--font-secondary);
  float: right;
}

.active:after {
  content: "\2212"; /* Unicode character for "minus" sign (-) */
}

@media (max-width: 786px) {
  .nav-list a{
    font-size: 16px;
  }

  .about-me p{
    padding: 0;
  }
}
